html,
body {
    height: 100%;
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
    font-family: "Arial";
}

.clr:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.padding-site {
    padding-left: 50px;
    padding-right: 50px;
}

/* =========header========= */

.main-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
    color: #ffffff;
}

.main-header-wrp {
    width: 470px;
    float: left;
}

.main-header-title {
    display: block;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.main-header-list {
    margin: 0;
    list-style-image: url(../img/layers.png);
}

.main-header-list li {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}

.main-header-photo {
    display: block;
    width: 469px;
    min-height: 214px;
    float: right;
}

/* =========/header========= */
/* =========about-product========= */

.about-product {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.about-product-wrp {
    width: 653px;
    float: left;
}

.about-product-title {
    display: block;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin-bottom: 30px;
}

.about-product-txt {
    width: 653px;
    height: 63px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.about-product-photo {
    display: block;
    float: right;
}

/* =========/about-product========= */
/* =========pluses========= */

.pluses {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    margin-bottom: 50px;
}

.pluses-title {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #445161;
    margin-bottom: 29px;
}

.pluses-list {
    width: 590px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

.pluses-list:nth-child(3) {
    float: right;
}

.pluses-list-item {
    background-image: url(../img/Plus_img.JPG);
    background-repeat: no-repeat;
    padding-left: 41px;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 30px;
}

.pluses-list:nth-child(2) > .pluses-list-item:nth-child(3),
.pluses-list:nth-child(3) > .pluses-list-item:nth-child(3) {
    margin: 0;
}

/* =========/pluses========= */
/* =========scrinshots========= */

.scrinshots {
    height: 487px;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.scrinshots-title {
    display: block;
    text-align: center;
    height: 28px;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    margin-bottom: 35px;
}

.scrinshots-figure-left {
    margin: 0;
    width: 574px;
    float: left
}

.scrinshots-figure-right {
    margin: 0;
    width: 574px;
    float: right
}

.scrinshots-photo {
    float: left;
    margin-right: 15px;
    margin-bottom: 30px;
}

.scrinshots-figure-title {
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    margin-bottom: 5px;
}

.scrinshots-figure-txt {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

/* =========/scrinshots========= */

footer {
    width: 1280px;
    height: 26px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
    text-align: center;
}

/* ========= остальное в работе
.reviews {
    background-color: #f5f5f5;
    height: 424px;
}

img[alt="reviews-image1"] {
    float: left;
}

.send {
    width: 483px;
    height: 121px;
    background-image: url(../img/reviews_img2.png);
    margin-left: 90px;
    margin-bottom: 24px;
    margin-right: 32px;
}

.send-text {
    display: inline-block;
    margin-top: 10px;
    margin-left: 25px;
    width: 436px;
    height: 64px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
}

.send-text2 {
    display: inline-block;
    margin-top: 10px;
    margin-left: 25px;
    height: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}

.buy-it {
    height: 656px;
    padding-left: 145px;
    padding-right: 145px;
}

.standart {
    background-color: #445162;
    width: 300px;
    height: 306px;
    border-radius: 2%;
    display: inline-block;
    margin-right: 41px;
}

.premium {
    background-color: #445162;
    width: 300px;
    height: 404px;
    border-radius: 2%;
    display: inline-block;
    margin-right: 41px;
}

.lux {
    background-color: #445162;
    width: 300px;
    height: 499px;
    border-radius: 2%;
    display: inline-block;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    margin-bottom: 5px;
}

.article-h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 15px;
    text-align: center
}

.price {
    width: 296px;
    height: 54px;
    background-color: white;
    border: 2.0px solid #445162;
    text-align: center;
    padding-top: 17px;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    margin-bottom: 12px;
}

ol li {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 20px;
}

ol {
    margin-bottom: 15px;
}

.buy {
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    border: 0;
    border-radius: 5px;
    margin-left: 20px;
}

.contacts {
    width: 1280px;
    height: 509px;
    background-color: #445162;
}

.contacts-h2 {
    height: 28px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: white;
    padding-top: 45px;
    padding-bottom: 35px;
    text-align: center
}

.contacts-form {
    padding-left: 249px;
}

form input {
    width: 490px;
    height: 40px;
    background-color: #ffffff;
    margin-bottom: 22px;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    padding-left: 10px;
}

form textarea {
    width: 490px;
    height: 157px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    padding-left: 10px;
    padding-top: 13px;
}

/* =========/main========= */